<footer class="text-center py-4 bg-white mt-5">
        <div class="container">
            <div class="row justify-content-center">
                <!-- Colonne pour les icônes -->
                <div class="col-2">
                    <a href="#"><i class="fab fa-facebook fa-2x"></i></a>
                </div>
                <div class="col-2">
                    <a href="#"><i class="fab fa-twitter fa-2x"></i></a>
                </div>
                <div class="col-2">
                    <a href="#"><i class="fab fa-linkedin fa-2x"></i></a>
                </div>
                <div class="col-2">
                    <a href="#"><i class="fab fa-instagram fa-2x"></i></a>
                </div>
            </div>
            <div class="row mt-3">
                <!-- Colonne pour les liens de navigation -->
                <div class="col-3">
                    <a href="{{ path('app_main')}}">Home</a>
                </div>
                <div class="col-3">
                    <a href="{{ path('app_contact')}}">Contact</a>
                </div>
                <div class="col-3">
                    <a href="#">Mentions légales</a>
                </div>
                <div class="col-3">
                    <a href="#">Politique de confidentialité</a>
                </div>
            </div>
        </div>
    </footer>