{% extends 'base.html.twig' %}

{% block title %}Mes favoris{% endblock %}

{% block body %}
<div class="text-center min-vh">
    <h1 class="mb-5 font-weight-bold fst-italic">Mes Favoris</h1>

    {% if favoris is empty %}
        <p>Vous n'avez pas encore d'événements dans vos favoris.</p>
    {% else %}
    <div class="d-flex justify-content-center mb-5">
        <ul class="list-unstyled">
            {% for favori in favoris %}
                <li>
                    <a href="{{ path('app_event_detail', {id: favori.idEvent.id}) }}" class="text-black mb-3 h5 ">
                        {{ favori.idEvent.Titre }}
                    </a>
                    <div class="d-flex justify-content-center mb-5 pt-4">
                        <a href="{{ path('remove_favori', {id: favori.idEvent.id}) }}" class="btn btn-danger custom-btn me-5">Retirer</a>
                        
                        {% set currentDateTime = "now"|date('U') %}
                        {% set eventStartTime = favori.idEvent.dateHeureDebut|date('U') %}
                        {% set eventEndTime = favori.idEvent.dateHeureFin|date('U') %}
                        {% set isActive = currentDateTime >= eventStartTime and currentDateTime <= eventEndTime %}
                        {% set isFinished = currentDateTime > eventEndTime %}
                        
                        {% if isFinished %}
                            <button class="bg-pink btn-lg btn custom-btn" disabled>Rejoindre (événement terminé)</button>
                        {% elseif currentDateTime < eventStartTime %}
                            <button class="bg-pink btn-lg btn custom-btn" disabled>Rejoindre (disponible bientôt)</button>
                        {% elseif isActive %}
                            <a href="{{ path('app_event_started', {'id': favori.idEvent.id}) }}" class="bg-pink btn-lg btn custom-btn">Rejoindre</a>
                        {% else %}
                            <button class="bg-pink btn-lg btn custom-btn" disabled>Rejoindre</button>
                        {% endif %}
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
</div>
{% endblock %}
